<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">		<!-- 引入命名空间 -->
<head>
    <title>Thymeleaf模版渲染</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/message_index.js}"></script>
</head>
<body>
<h2 th:text="'【资源】message = ' + #{yootk.message}"/>
<h2 th:text="'【资源】url = ' + #{yootk.url}"/>
<h2 th:text="'【资源】welcome = ' + #{yootk.welcome('李兴华')}"/>
</body>
</html>