<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">		<!-- 引入命名空间 -->
<head>
    <title>Thymeleaf模版渲染</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<p>
<!-- 此时直接实现了一个字符串常量的替换，该常量是在模版页面之中进行定义的 -->
<p th:text="${'字符串替换：' + #strings.replace('沐言优拓（www.yootk.com）', '沐言优拓', '沐言科技')}"/>
<!-- 针对于传递过来的message属性进行内容的替换处理 -->
<p th:text="${'字符串替换：' + #strings.replace(message, 'YOOTK.com', 'yootk.com')}"/>
<p th:text="${'字符串转大写：' + #strings.toUpperCase(message)}"/>
<p th:text="${'字符串截取：' + #strings.substring(message, 4)}"/>
<p th:if="${#sets.contains(language, 'Java')}"> ”Java“是当今重要的软件编程语言！</p>
<p th:if="${#maps.containsKey(infos, 'yootk')}">
    可以发现KEY为“yootk”的信息，对应的内容为：<span th:text="${infos.edu}">
</p>
</body>
</html>