<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">		<!-- 引入命名空间 -->
<head>
    <title>Thymeleaf模版渲染</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/message_index.js}"></script>
</head>
<body>
<div th:replace="@{/commons/header} :: companyHeader('沐言科技', 'www.yootk.com')"/>
<hr>
<div th:include="@{/commons/footer} :: companyInfo" th:with="title=李兴华高薪就业编程训练营, url=edu.yootk.com"/>
</body>
</html>